<form novalidate ng-submit="spacesEdit.update()">
  <h1>Edit Space</h1>
  <div>
    <label>Name</label>
    <input type="text" placeholder="name" ng-model="spacesEdit.space.name" class="u-full-width">
  </div>
  <div>
    <label>Address</label>
    <!-- <input type="text" ng-model="spacesEdit.space.address" googleplace spaces="spacesEdit.space" class="u-full-width"  lat="spacesEdit.space.lat" lng="spacesEdit.space.lng"> -->
    <input type="text" ng-model="spacesEdit.space.address" googleplace spaces="spacesEdit.space" class="u-full-width">
  </div>
  <div>
    <label>Image</label>
    <input type="text" placeholder="image" ng-model="spacesEdit.space.image" class="u-full-width">
  </div>
  <div>
    <label>Width</label>
    <input type="text" placeholder="width" ng-model="spacesEdit.space.width" class="u-full-width">
  </div>
  <div>
    <label>Length</label>
    <input type="text" placeholder="length" ng-model="spacesEdit.space.length" class="u-full-width">
  </div>
  <div>
    <label>Details</label>
    <input type="text" placeholder="details" ng-model="spacesEdit.space.details" class="u-full-width">
  </div>
  <button class="button button-primary">Submit</button>
  <button type="button" ui-sref="userProfile" class="button button-primary">My Profile</button>
</form>
