<form novalidate ng-submit="spacesNew.create()">
  <h1>Add Space</h1>
  <div>
    <label>Name</label>
    <input type="text" placeholder="name" ng-model="spacesNew.spaces.name" class="u-full-width">
  </div>
  <div>
    <label>Address</label>
    <!-- <input type="text" ng-model="spacesAdd.spaces.address" googleplace spaces="spacesNew.spaces" lat="spacesAdd.spaces.lat" lng="spacesAdd.spaces.lng" class="u-full-width"> -->
    <input type="text" ng-model="spacesAdd.spaces.address" googleplace spaces="spacesNew.spaces" class="u-full-width">
  </div>
  <div>
    <label>Image</label>
    <input type="text" placeholder="image" ng-model="spacesNew.spaces.image" class="u-full-width">
  </div>
  <div>
    <label>Width</label>
    <input type="text" placeholder="width" ng-model="spacesNew.spaces.width" class="u-full-width">
  </div>
  <div>
    <label>Length</label>
    <input type="text" placeholder="length" ng-model="spacesNew.spaces.length" class="u-full-width">
  </div>
  <div>
    <label>Details</label>
    <input type="text" placeholder="details" ng-model="spacesNew.spaces.details" class="u-full-width">
  </div>
    <button class="button button-primary">Submit</button>
    <button type="button" ui-sref="userProfile" class="button button-primary">My Profile</button>
</form>
