<section class="row">
  <form ng-submit="userEdit.update()">
    <img width="150px" ng-src="{{userEdit.user.image}}">
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="title" placeholder="image" ng-model="userEdit.user.image" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="title" placeholder="name" ng-model="userEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="email" placeholder="email" ng-model="userEdit.user.email" class="u-full-width">
    </div>
    <button class="u-full-width">Update</button>
  </form>
</section>
