<section>
  <h1>Space Index</h1>
  <!-- <google-map spaces="spacesIndex.all" ng-if="spacesIndex.all"></google-map> -->
  <google-map spaces="spacesIndex.all"></google-map>
  <!-- <ul>
    <li ng-repeat="space in spacesIndex.all">
      <p>{{ space.name }}</p>
      <p>{{ space.address }}</p>
      <p>{{ space.id }}</p>
      <p>{{ space.lat }}</p>
      <p>{{ space.lng }}</p>
      <img width="150px" ng-src="{{ space.image }}"></img>
      <p>{{ space.width }} m</p>
      <p>{{ space.length }} m</p>
      <p>{{ space.details }}</p>
    </li>
  </ul> -->
</section>
