<h1>Space Add</h1>
<form novalidate ng-submit="spacesNew.create()">
  <div>
    <label>Name</label>
    <input type="text" placeholder="name" ng-model="spacesEdit.space.name">
  </div>
  <div>
    <label>Address</label>
    <input type="text" ng-model="spacesAdd.spaces.address" googleplace spaces="spacesNew.spaces" lat="spacesAdd.spaces.lat" lng="spacesAdd.spaces.lng">
  </div>
  <div>
    <label>Image</label>
    <input type="text" placeholder="image" ng-model="spacesNew.spaces.image">
  </div>
  <div>
    <label>Width</label>
    <input type="text" placeholder="width" ng-model="spacesNew.spaces.width">
  </div>
  <div>
    <label>Length</label>
    <input type="text" placeholder="length" ng-model="spacesNew.spaces.length">
  </div>
  <div>
    <label>Details</label>
    <input type="text" placeholder="image" ng-model="spacesNew.spaces.details">
  </div>

  {{ spacesNew.spaces }}
  {{ spacesAdd.spaces.lat }}
  {{ spacesAdd.spaces.lng }}
  {{ spacesAdd.spaces.address }}
  <button>Create</button>
</form>
