<h1>Edit Space</h1>
<form novalidate ng-submit="spacesEdit.update()">
  <div>
    <label>Name</label>
    <input type="text" placeholder="name" ng-model="spacesEdit.space.name">
  </div>
  <div>
    <label>Address</label>
    <input type="text" ng-model="spacesEdit.space.address" googleplace spaces="spacesEdit.space" lat="spacesEdit.space.lat" lng="spacesEdit.space.lng">
  </div>
  <div>
    <label>Image</label>
    <input type="text" placeholder="image" ng-model="spacesEdit.space.image">
  </div>
  <div>
    <label>Width</label>
    <input type="text" placeholder="width" ng-model="spacesEdit.space.width">
  </div>
  <div>
    <label>Length</label>
    <input type="text" placeholder="length" ng-model="spacesEdit.space.length">
  </div>
  <div>
    <label>Details</label>
    <input type="text" placeholder="image" ng-model="spacesEdit.space.details">
  </div>
  <button>Submit</button>
  <!-- {{ spacesEdit.space }} -->
</form>
