<!DOCTYPE html>
<html ng-app="finalProject">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking Lot</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9AKvvkM2e_Rsj9pMJ2UxmNaet-fqxa2M&libraries=places"></script>
  <script src="/js/vendor.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
</head>
<body ng-controller="MainController as main">

    <!-- <button type="button" ng-if="main.isLoggedIn()" ui-sref-active="active" ng-click="main.logout()">Logout</button> -->
    <nav id="nav-bar">
      <div class="container">
        <h1 ui-sref="home">Parking Lot</h1>
      </div>
    </nav>

    <main ng-class="{'container': main.containerClass}" ui-view></main>

    <footer id="footer" class="u-full-width">
      <p>&copy; 2015-2016 Ervis Priftis</p>
    </footer>
</body>
</html>
